<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620">
      <div class="banner_inner d-flex align-items-center">
        <div class="banner_content">
          <div class="media">
            <div class="d-flex">
              <img src="/assets/img/avatar-britta-stracke.jpg" alt="">
            </div>
            <div class="media-body">
              <div class="personal_text">
                <h6>Hello Everybody, i am</h6>
                <h3>{{ site.name }}</h3>
                <h4>{{ site.title }}</h4>
                <p>{{ site.description }}</p>
                <ul class="list basic_info">
                  <li><a href="#"><i class="lnr lnr-calendar-full"></i> {{ site.birthday }}</a></li>
                  <li><a href="#"><i class="lnr lnr-phone-handset"></i> {{ site.phone }}</a></li>
                  <li><a href="#"><i class="lnr lnr-envelope"></i> {{ site.email }}</a></li>
                  <li><a href="#"><i class="lnr lnr-home"></i> {{ site.location }}</a></li>
                </ul>
                <ul class="list personal_social">
                  <li><a href="{{ site.facebook }}"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--================End Home Banner Area =================-->